.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.8s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hero-image {
  transition-delay: 500ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
