@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
  background-color: #1b1f24;
}

.header-wrapper {
  background-image: linear-gradient(0deg, #1b1f24, #423ab82d);
  background-size: cover;
  margin: 0;
}

nav {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  /* margin: 3em; */
  padding: 3rem;
}

.logo {
  max-width: 2.5rem;
  min-width: 3rem;
}

.logo:hover {
  transform: scale(1.1);
}

.list a {
  padding-right: 0.5em;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  border-radius: 6px;
}

.list a:hover {
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

h1 {
  font-size: 3em;
  margin-bottom: 0em;
  /* text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 5px;
  text-decoration-color: #3926a0; */
}

.job-description {
  font-weight: bold;
  font-size: 3em;
  padding-top: -5em;
  padding-bottom: -3em;
}

.hero p {
  font-size: 1.2em;
  line-height: 2em;
}

.hero {
  text-align: center;
  margin: 3em;
  padding: 0;
  justify-content: space-between;
  color: white;
}

.left-column {
  padding-bottom: 2em;
}

.hook {
  padding-bottom: 1em;
}

.social img {
  max-width: 40px;
  margin-right: 0.8em;
  fill: white;
}

.hero-image {
  max-width: 50%;
  border-radius: 50%;
  justify-self: right;
}

.social img:hover {
  transform: scale(1.2);
}

.wrapper-project h2 {
  text-align: center;
  font-size: 5em;
  margin-top: 20rem;
  background-image: linear-gradient(15deg, #68ffde, #a53ab8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.projects {
  padding-top: 3em;
  padding-right: 5em;
  padding-left: 5em;
  padding-bottom: 2.5em;
  background-color: #1b1f24;
}

/* Cards */
.project-img {
  max-width: 500px;
  align-self: center;
  filter: drop-shadow(20px 30px 20px rgba(0, 0, 0, 0.336));
}

.project-img img {
  width: 500px;
  height: 280px;
  object-fit: fill;
  border-radius: 20px;
}

.card {
  padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: #24292f; */
  border-radius: 6px;
  /* border: 1px solid black; */
  filter: drop-shadow(0px 20px 15px rgba(0, 0, 0, 0.187));
  margin: 4rem 0rem;
  position: relative;
  top: 0px;
}

.card:hover {
  /* filter: drop-shadow(0px 20px 20px rgba(103, 131, 255, 0.161)); */
  position: relative;
  top: -8px;
}

.info h3 {
  font-size: 1.5em;
  padding-bottom: 0.2em;
  color: white;
}

.info p {
  color: white;
}

.info .tag {
  color: #7ca3ff;
}

p.tools {
  padding-top: 0.3em;
  color: #7ca3ff;
  /* font-weight: bold; */
}

/* Button Styles */

.buttons {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1em;
  display: flex;
}

.buttons p {
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.5em 1em;
  word-spacing: 0.5rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background-color: #24292f;
  border: 1px solid black;
  border-radius: 6px;

  background: linear-gradient(to right, #7ca3ff 50%, #24292f 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.1s ease-out;
}

.buttons p:hover {
  background-position: left bottom;
}

.skills-section {
  padding: 3em;
}

.skills-section h2 {
  font-size: 3em;
  padding-bottom: 1em;
  text-align: center;
  color: white;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 5rem;
}

.skill {
  max-width: 7.5rem;
  height: 7.5rem;
  background-color: #24292f;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 6px;
  filter: drop-shadow(0px 30px 20px rgba(0, 0, 0, 0.336));
}

.skill::after {
  content: '';
  display: block;
  padding-top: 100%;
}

.skill img {
  object-fit: contain;
  position: relative;
  vertical-align: middle;
  max-width: 100%;
  max-height: auto;
  height: 6rem;
  width: 6rem;
}

.skill p {
  text-align: center;
  margin-top: 0.5rem;
  color: white;
}

@media only screen and (min-width: 360px) {
  .hero,
  nav {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .hook,
  .left-column h1,
  .job-description {
    text-align: left;
  }

  .social a {
    text-align: left;
  }

  .projects {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .card {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .buttons {
    justify-content: center;
  }

  .skills-sec {
    margin-left: 0.5em;
  }

  .skills h2 {
    padding-left: 0.1em;
  }
}

@media only screen and (min-width: 850px) {
  .hero,
  .nav {
    margin: 2em 4em;
  }

  /* nav {
    margin: 4em;
  } */

  .hero {
    text-align: left;
    display: flex;
    padding-top: 5em;
    align-items: center;
  }

  .left-column {
    padding-right: 1.2em;
    max-width: 500px;
  }

  .hero-image {
    max-width: 15em;
    max-height: 15em;
  }

  .social {
    max-width: 70%;
  }

  .projects {
    padding-left: 2em;
    padding-right: 2em;
  }

  .card {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .buttons {
    justify-content: center;
  }

  .skills-sec {
    margin-left: 4em;
  }

  .skills h2 {
    padding-left: 1.3em;
  }
}

@media only screen and (min-width: 1080px) {
  .projects {
    padding-left: 3em;
    padding-right: 3em;
  }

  .hero-image {
    max-width: 20em;
    max-height: 20em;
  }

  .skills-sec {
    margin-left: 5em;
  }

  .skills h2 {
    padding-left: 1.6em;
  }

  .card {
    /* padding: 2em; */
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    gap: 6em;
  }

  .buttons {
    justify-content: left;
  }
}

@media only screen and (min-width: 1420px) {
  .hero {
    margin: 5em;
  }

  .hook {
    font-size: 1.5em;
    font-weight: lighter;
  }

  .left-column {
    max-width: 800px;
  }

  .hero-image {
    max-width: 24em;
    max-height: 24em;
  }

  .hero {
    justify-content: space-between;
    margin-bottom: -6em;
  }

  h1 {
    font-size: 5em;
  }

  .projects {
    padding-left: 5em;
    padding-right: 5em;
  }

  .card {
    /* padding: 2em; */
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    gap: 6em;
  }

  .buttons {
    justify-content: left;
  }

  .skills-sec {
    margin-left: 5em;
  }

  .skills h2 {
    padding-left: 1.6em;
  }
}
