@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
    scroll-behavior: smooth;   
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
}


nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: rebeccapurple;
}

.list a {
    padding-right: .5em;
    color: black;
    font-size: 1.5em;
}

a:link {
    text-decoration: none;
}


h1 {
    font-size: 3em;
    margin-bottom: 0em;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 5px;
    text-decoration-color: rebeccapurple;
}

.job-description {
    font-weight: bold;
    font-size: 3em;
    padding-top: -5em;
    padding-bottom: -3em;
}

.hero p {
    font-size: 1.2em;
}

.hero {
    text-align: center;
    margin: 3em;
    padding: 0;
    justify-content: space-between;
}

.left-column {
    padding-bottom: 2em;
}

.social img {
    max-width: 40px;
    margin-right: .8em;
}

.hero-image {
    max-width: 50%;
    border-radius: 50%;
    justify-self: right;
}

.wrapper-project h2 {
    text-align: center;
    font-size: 3em;
    padding-top: 2em;
}

.projects h3 {
    display: inline-block;
    margin: 0;
    margin-top: .5em;
    padding: 0;
    font-size: 1.5em;
}

.projects {
    text-align: center;
    padding-top: 3em;
    padding-right: 5em;
    padding-left: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,.8fr));
    justify-content: center;
    justify-items: center;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

/* .wrapper-project {
    background: rgb(247, 247, 247);
    margin: 0;
    padding: 0;
} */


/* Card Animation */

.card-1 {
    position: relative;
    max-width: 500px;
    max-height: 300px;
    background: black;
    border-radius: 5%;
    background: url('../images/mytaskcover.jpg');
    background-position: center ;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.hovercard-1 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 3em;
    background: rgb(31, 21, 94);
    border-radius: 5%;
    color: white;
    opacity: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.hovercard-1 h3 {
    padding-bottom: .5em;
}

.card-1:hover .hovercard-1, .card-1:active .hovercard-1 {
    opacity: 1;
}

/* Button Styles */

.buttons {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.buttons p {
    display: inline-block;
    margin: 0em .5em;
    padding: .5em 1em;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.code-btn {
    border: solid 2px;
    border-color: blueviolet;
}

.code-btn:hover {
    background-color: blueviolet;
    color: white;
}

.demo-btn {
    border: solid 2px;
    border-color: rgb(31, 155, 212);
}

.demo-btn:hover {
    background-color: rgb(31, 155, 212);
    color: white;
}

.skills-sec {
    display: flex;
    flex-flow: row wrap;
    margin-left: 5em;
}

.dev-skills {
    margin-right: 20%;
}

.skills h2 {
    font-size: 3em;
    padding-top: 2em;
    padding-left: 1.6em;
    padding-bottom: 1em;
}

.dev-skills h3 {
    font-size: 3em;
}

.dev-skills li {
    font-size: 2em;
    list-style: none;
}

.dev-skills ul {
    padding-bottom: 3em;
}

.des-skills h3 {
    font-size: 3em;
}

.des-skills li {
    font-size: 2em;
    list-style: none;
}


@media only screen and (min-width: 360px) {
    .hero, nav {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .hook, .left-column h1, .job-description {
        text-align: left;
    }

    .social a {
        text-align: left;
    }

    .projects {
        padding-left: .5em;
        padding-right: .5em;
    }

    .skills-sec {
        margin-left: .5em;
    }

    .skills h2 {
        padding-left: .1em;
    }
}

@media only screen and (min-width: 850px) {
    .hero, .nav {
        margin: 2em 4em;
    }

    nav {
        margin: 4em;
    }

    .hero {
        text-align: left;
        display: flex;
        padding-top: 5em;
        align-items: center;
    }

    .left-column {
        padding-right: 1.2em;
        max-width: 500px;
    }

    .hero-image {
        max-width: 15em;
        max-height: 15em;
    }

    .social {
        max-width: 70%;
    }

    .projects {
        padding-left: 2em;
        padding-right: 2em;
    }

    .skills-sec {
        margin-left: 4em;
    }

    .skills h2 {
        padding-left: 1.3em;
    }


}

@media only screen and (min-width: 1080px) {
    .projects {
        padding-left: 3em;
        padding-right: 3em;
    }

    .hero-image {
        max-width: 20em;
        max-height: 20em;
    }

    .skills-sec {
        margin-left: 5em;
    }

    .skills h2 {
        padding-left: 1.6em;
    }
}

@media only screen and (min-width: 1420px) {
    .hero, nav {
        margin: 5em;
    }
    
    .hook {
        font-size: 1.5em;
        font-weight: lighter;
    }

    .left-column {
        max-width: 800px;
    }

    .hero-image {
        max-width: 24em;
        max-height: 24em;
    }

    .hero {
        justify-content: space-between;
    }

    h1 {
        font-size: 5em;
    }

    .projects {
        padding-left: 5em;
        padding-right: 5em;
    }

    .skills-sec {
        margin-left: 5em;
    }

    .skills h2 {
        padding-left: 1.6em;
    }
}
