@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
    scroll-behavior: smooth;   
}

body {
    font-family: 'Poppins';
    /* margin: 3em; */
}


nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    margin: 3em;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

.list a {
    padding-right: .5em;
    color: black;
    font-size: 1.5em;
}

a:link {
    text-decoration: none;
}


h1 {
    font-size: 3em;
    margin-bottom: -.2em;
}

.job-description {
    font-weight: bold;
    font-size: 3em;
    padding-top: -5em;
    padding-bottom: -3em;
}

h2 {
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.hero p {
    font-size: 1.2em;
}

.hero {
    text-align: center;
    margin: 3em;
    padding: 0;
    justify-content: space-between;
}

.left-column {
    padding-bottom: 2em;
}

.social img {
    max-width: 40px;
    margin-right: .8em;
}

.hero-image {
    max-width: 50%;
    border-radius: 50%;
    justify-self: right;
}

h3 {
    display: inline-block;
    margin: 0;
    margin-top: .5em;
    padding: 0;
    font-size: 1.5em;
}


.projects {
    text-align: center;
    padding-top: 3em;
    justify-content: space-between;
}

/* .wrapper-project {
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    color: black;
} */

.cards {
    text-align: center;
    display:inline-block;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 3em;
    margin-left: 1.2em;
    margin-right: 1.2em;
    max-width: 400px;
}

.cards h3, .cards p  {
    padding: .5em 2em;
}

.cards h3 {
    margin-bottom: -1em;
}

.buttons {
    text-align: center;
    margin-bottom: 1em;
}

.buttons p {
    display: inline-block;
    margin: 0em .5em;
    padding: .5em 1em;
    font-weight: 500;
    color: black;
    cursor: pointer;
}

.code-btn {
    background-color: rgb(158, 255, 78);
}

.demo-btn {
    background-color: lightskyblue;
}

.card-image {
    max-height: 300px;
    object-position: center;
}

.cards img {
    object-fit:cover;
    width: 100%;
    height: 300px;
    max-height: 300px;
}

@media only screen and (min-width: 375px) {
    .hook, .left-column h1 {
        text-align: left;
    }

    .social a {
        text-align: left;
    }
}

@media only screen and (min-width: 850px) {
    .hero, .nav, .projets {
        margin: 2em 4em;
    }

    .hero {
        text-align: left;
        display: flex;
        padding-top: 5em;
        align-items: center;
    }

    .left-column {
        padding-right: 1.2em;
        max-width: 500px;
    }

    .hero-image {
        max-width: 15em;
        max-height: 15em;
    }

    .social {
        max-width: 70%;
    }

    .cards {
        max-width: 300px;
    }


}

@media only screen and (min-width: 1080px) {
    .cards {
        max-width: 400px;
    }
}

@media only screen and (min-width: 1420px) {
    .hook {
        font-size: 1.5em;
        font-weight: lighter;
    }

    .left-column {
        max-width: 800px;
    }

    .hero-image {
        max-width: 24em;
        max-height: 24em;
    }

    .hero {
        justify-content: space-between;
    }

    h1 {
        font-size: 5em;
    }

    .cards {
        margin-right: 3em;
        max-width: 500px;
    }
}
